html {
    
}

body {
    
}


.width_60 {
    width: 60%;
    float: left;
}

.width_5 {
    width: 5%;
    float: right;
}

.height_45 {
    height: 45px;
}

.margin_top_15 {
    margin-top: 15px;
}

.margin_right_5pc {
	margin-right: 5%;
}

.margin_top_10pc {
    margin-top: 10%;
}
.margin_top_15pc {
    margin-top: 15%;
}

.margin_top_20pc {
	margin-top: 20%;
}

body {
/*
    background: #6cab26;
    background-image: url("../img/snail.jpg");
    background-image: url("../img/snail.jpg"), -webkit-gradient(linear, left top, left bottom, from(#6cab26), to(#6ceb86));
    background-image: url("../img/snail.jpg"), -webkit-linear-gradient(top, #6cab26, #6ceb86); 
    background-image: url("../img/snail.jpg"),    -moz-linear-gradient(top, #6cab26, #6ceb86); 
    background-image: url("../img/snail.jpg"),     -ms-linear-gradient(top, #6cab26, #6ceb86); 
    background-image: url("../img/snail.jpg"),      -o-linear-gradient(top, #6cab26, #6ceb86); 
    background-image: url("../img/snail.jpg"),         linear-gradient(top bottom, #6cab26, #6ceb86);
*/
    
    background: #a4b357;
    background-image: url("../img/snail.jpg");
    background-image: url("../img/snail.jpg"), -moz-linear-gradient(top, #a4b357 0%, #75890c 100%);
    background-image: url("../img/snail.jpg"), -webkit-gradient(left top, left bottom, color-stop(0%, #a4b357), color-stop(100%, #75890c));
    background-image: url("../img/snail.jpg"), -webkit-linear-gradient(top, #a4b357 0%, #75890c 100%);
    background-image: url("../img/snail.jpg"), -o-linear-gradient(top, #a4b357 0%, #75890c 100%);
    background-image: url("../img/snail.jpg"), -ms-linear-gradient(top, #a4b357 0%, #75890c 100%);
    background-image: url("../img/snail.jpg"), linear-gradient(to bottom, #a4b357 0%, #75890c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=0 );

    background-repeat: no-repeat;
    background-size: 100%;

    color: black;
}

#logo {
	float: left;
}

#logo a {
	color: #FFC;
}

#ip p {
	color: #FFC;
}

.nav_style {
	background-color: #454444;
	border: none;
	border-radius: 0;
}

.nav_logo_color {
	color: white;
}

.white_box {
	background-color: white;
	opacity: 0.85;
}

.text_white {
	color: white;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

#insightResultTable {
	display: none;
    margin-top: 550px;
}

.center {
    margin: 0 auto;
}

.site_ip {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    display: none;
}

.status {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 1px;
    font-size: 30px;
    margin-top: 150px;
}

#modernizr {
    margin-top: 20px;
    padding-bottom: 10px;
    background: white;
    opacity: 0.85;
    display: none;
    font-size: 16px;
    
/*    text-align: center;*/
}

#modernizr h3 {
    text-align: center;
    padding-top: 13px;
    margin-bottom: 15px;
}

#modernizr_list li {
    list-style: none;
    margin-bottom: 3px;
    margin-top: 1px;
}

.modernizr_item {
    
}

.modernizr_item_not_supported {
    background-color: tomato;
}

#har-view {
    margin-top: 40px;
}


#w3cvalidator {
    margin-top: 40px;
/*
    padding-top: 15px;
    padding-bottom: 15px;
*/
}

#w3c li {
    list-style: none;
}

.ilosc_wiadomosci {
    background-color: tomato;
    font-size: 18px;
    justify-content: center;
}

.linia {
    
}

.kolumna {
    
}

.wiadomosc {
    display: block;
    font-weight: bold;
    
}

.flex {
    display: flex;
    margin-top: 23%;
}

.empty {
    flex: 1;
}

.input {
    flex: 2;
    height: 45px;
}

.button{
    flex: 0.125
}


footer {
    margin-top: 100px;
}

#pagespeed_icon{
    background-image: url(../img/insights.svg);
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
/*    cursor: pointer;*/
/*    float: left;*/
    flex: 1;
}

#pagespeed_icon a{
    width: 100px;
    height: 100px;
    display: block;    
}

#waterfall_icon{
    background-image: url(../img/waterfall.svg);
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
/*    cursor: pointer;*/
/*    float: left;*/
    flex: 1;
}

#waterfall_icon a{
    width: 85px;
    height: 85px;
    display: block;    
}

#w3c_icon{
    background-image: url(../img/w3c.svg);
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
/*    cursor: pointer;*/
/*    float: left;*/
    flex: 1;
}

#w3c_icon a{
    width: 80px;
    height: 80px;
    display: block;    
}

#modernizr_icon{
    background-image: url(../img/modernizr.svg);
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
/*    cursor: pointer;*/
/*    float: left;*/
    flex: 1;
}

#modernizr_icon a{
    width: 80px;
    height: 80px;
    display: block;    
}

#anchors {
    display: flex;
/*    justify-content: center;*/
    margin-top: 7%;
    visibility: hidden;
}


/* TOOLTIPS */

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:160px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}