body {
    color: black;
}


.width_60 {
    width: 60%;
    float: left;
}

.width_5 {
    width: 5%;
    float: right;
}

.height_45 {
    height: 45px;
}

.margin_top_15 {
    margin-top: 15px;
}

.margin_right_5pc {
	margin-right: 5%;
}

.margin_top_10pc {
    margin-top: 10%;
}
.margin_top_15pc {
    margin-top: 15%;
}

.margin_top_20pc {
	margin-top: 20%;
}

body {
	background-image: url(../img/snail.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#logo {
	float: left;
}

#logo a {
	color: #FFC;
}

#ip p {
	color: #FFC;
}

.nav_style {
	background-color: #454444;
	border: none;
	border-radius: 0;
}

.nav_logo_color {
	color: white;
}

.white_box {
	background-color: white;
	opacity: 0.85;
}

.text_white {
	color: white;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

#insightResultTable {
	display: none;
}

.center {
    margin: 0 auto;
}

.site_ip {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    display: none;
}

.status {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 1px;
    font-size: 30px;
    margin-top: 150px;
}

#modernizr {
    margin-top: 20px;
    background: white;
    opacity: 0.85;
    display: none;
    font-size: 16px;
}
#modernizr h3 {
    text-align: center;
    padding-top: 13px;
    margin-bottom: 15px;
}

#modernizr_list li {
    list-style: none;
    margin-bottom: 3px;
    margin-top: 1px;
}